# Simple Prophet Examples

In [1]:
%load_ext autoreload

%autoreload 2

In [2]:

import numpy as np
import pandas as pd
import os 
import fbprophet

# help ipython find our path
directory = os.path.dirname(os.path.dirname(os.path.abspath('')))
os.chdir(directory)

import forecastframe as ff

Importing plotly failed. Interactive plots will not work.

## Non-Hierarchical Example

In [3]:
prophet_data = pd.read_csv("https://raw.githubusercontent.com/facebook/prophet/master/examples/example_yosemite_temps.csv")
fframe = ff.ForecastFrame(data=prophet_data, target="y", datetime_column="ds")

In [4]:
fframe.predict(model="prophet", future_periods=10, weekly_seasonality=True, daily_seasonality=True)
fframe.predictions

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

,floor,t,trend,predicted_y_lower,predicted_y_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,predicted_y
ds,,,,,,,,,,,,,,,,,,,,
2017-05-01 00:00:00,0,0.000000,16.250680,22.097380,33.349974,16.250680,16.250680,11.557169,11.557169,11.557169,11.584714,11.584714,11.584714,-0.027545,-0.027545,-0.027545,0.0,0.0,0.0,27.807849
2017-05-01 00:05:00,0,0.000053,16.253167,21.868758,32.977179,16.253167,16.253167,11.114570,11.114570,11.114570,11.144808,11.144808,11.144808,-0.030238,-0.030238,-0.030238,0.0,0.0,0.0,27.367737
2017-05-01 00:10:00,0,0.000107,16.255653,21.173930,32.603210,16.255653,16.255653,10.662177,10.662177,10.662177,10.695127,10.695127,10.695127,-0.032950,-0.032950,-0.032950,0.0,0.0,0.0,26.917831
2017-05-01 00:15:00,0,0.000160,16.258140,21.017459,32.084771,16.258140,16.258140,10.200631,10.200631,10.200631,10.236310,10.236310,10.236310,-0.035679,-0.035679,-0.035679,0.0,0.0,0.0,26.458772
2017-05-01 00:20:00,0,0.000214,16.260627,20.528048,31.219470,16.260627,16.260627,9.730617,9.730617,9.730617,9.769043,9.769043,9.769043,-0.038425,-0.038425,-0.038425,0.0,0.0,0.0,25.991244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-11 00:00:00,0,1.092308,21.681163,10.497768,57.276791,0.594430,44.143076,11.218239,11.218239,11.218239,11.584714,11.584714,11.584714,-0.366475,-0.366475,-0.366475,0.0,0.0,0.0,32.899402
2017-07-12 00:00:00,0,1.107692,21.391026,5.640545,63.811194,-5.901574,51.338513,12.391866,12.391866,12.391866,11.584714,11.584714,11.584714,0.807153,0.807153,0.807153,0.0,0.0,0.0,33.782892
2017-07-13 00:00:00,0,1.123077,21.100888,-2.112874,69.919151,-13.037524,57.798199,11.569959,11.569959,11.569959,11.584714,11.584714,11.584714,-0.014755,-0.014755,-0.014755,0.0,0.0,0.0,32.670847
2017-07-14 00:00:00,0,1.138462,20.810751,-10.094406,77.680350,-19.852075,64.872750,11.868885,11.868885,11.868885,11.584714,11.584714,11.584714,0.284171,0.284171,0.284171,0.0,0.0,0.0,32.679636
2017-07-15 00:00:00,0,1.153846,20.520613,-17.277032,85.944057,-28.652670,73.239525,11.274418,11.274418,11.274418,11.584714,11.584714,11.584714,-0.310296,-0.310296,-0.310296,0.0,0.0,0.0,31.795031

In [ ]:
fframe.plot_components()

In [6]:
fframe.get_predictions()

,trend,predicted_y,predicted_y_upper,predicted_y_lower
ds,,,,
2017-05-01 00:00:00,16.250680,27.807849,33.285221,22.199277
2017-05-01 00:05:00,16.253167,27.367737,33.304813,21.845696
2017-05-01 00:10:00,16.255653,26.917831,32.735133,21.524307
2017-05-01 00:15:00,16.258140,26.458772,31.902309,20.818218
2017-05-01 00:20:00,16.260627,25.991244,31.210369,20.229587
...,...,...,...,...
2017-07-11 00:00:00,21.681163,32.899402,54.195271,10.335384
2017-07-12 00:00:00,21.391026,33.782892,60.273786,3.771110
2017-07-13 00:00:00,21.100888,32.670847,64.076468,-2.385630
2017-07-14 00:00:00,20.810751,32.679636,71.434086,-11.043577
2017-07-15 00:00:00,20.520613,31.795031,77.211073,-18.526034

In [7]:
fframe.get_errors()

,Actuals,Predictions,Absolute Percent Error,Absolute Error,Squared Error
count,18709.000000,18709.000000,18679.000000,18709.000000,1.870900e+04
mean,18.449409,18.449373,0.468867,3.154291,2.001421e+01
std,13.888552,13.012872,1.666729,3.172569,4.903955e+01
min,-8.400000,-6.559851,0.000016,0.000378,1.428153e-07
25%,8.000000,8.910201,0.065385,1.055417,1.113904e+00
50%,13.800000,16.178784,0.129155,2.251714,5.070216e+00
75%,27.900000,28.440161,0.343549,4.254577,1.810142e+01
max,53.200000,47.451807,69.646214,23.796608,5.662785e+02

In [13]:
fframe.cross_validate(folds=3)

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
actuals Series([], Name: y, dtype: float32)
preds Series([], Name: yhat, dtype: float64)
actuals Series([], Name: y, dtype: float32)
preds Series([], Name: yhat, dtype: float64)

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
actuals Series([], Name: y, dtype: float32)
preds Series([], Name: yhat, dtype: float64)
actuals Series([], Name: y, dtype: float32)
preds Series([], Name: yhat, dtype: float64)

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
actuals 11689   NaN
11690   NaN
11691   NaN
11692   NaN
11693   NaN
11694   NaN
11695   NaN
11696   NaN
11697   NaN
11698   NaN
11699   NaN
11700   NaN
Name: y, dtype: float32
preds Series([], Name: yhat, dtype: float64)
actuals 11689   NaN
11690   NaN
11691   NaN
11692   NaN
11693   NaN
11694   NaN
11695   NaN
11696   NaN
11697   NaN
11698   NaN
11699   NaN
11700   NaN
Name: y, dtype: float32
preds Series([], Name: yhat, dtype: float64)

In [14]:
# check that the latest round of predictions stored in the object were created using the params found in cross-validation
assert fframe.results["estimator"].seasonality_mode == fframe.cross_validations[-1]["best_params"]["seasonality_mode"]

In [16]:
fframe.get_cross_validation_errors()

[{'In-Sample':            Actuals  Predictions  Absolute Percent Error  Absolute Error  \
  count  4681.000000  4681.000000             4664.000000     4681.000000
  mean     12.326768    12.274615                0.670084        3.125191
  std      10.659573     9.957827                2.204711        2.280020
  min      -4.300000    -1.489614                0.000074        0.000695
  25%       5.100000     4.032158                0.115037        1.191336
  50%       8.600000     9.708493                0.284004        2.827653
  75%      17.900000    19.336209                0.620693        4.452857
  max      43.099998    36.752666               75.739959       15.343415

         Squared Error
  count   4.681000e+03
  mean    1.496420e+01
  std     1.988254e+01
  min     4.825803e-07
  25%     1.419281e+00
  50%     7.995620e+00
  75%     1.982794e+01
  max     2.354204e+02  ,
  'Out-of-Sample':            Actuals  Predictions  Absolute Percent Error  Absolute Error  \
  count  4680.000000  4680.000000             4679.000000     4680.000000
  mean     17.856497   -17.875343                1.906597       35.799108
  std      12.556387    21.386250                1.187589       30.720840
  min       0.000000   -84.094985                0.000934        0.005135
  25%       8.300000   -31.181391                1.125977        9.878281
  50%      13.000000    -9.722992                1.577821       25.628562
  75%      27.700001    -0.922538                2.380520       57.362600
  max      48.700001    11.314608                7.538093      121.083169

         Squared Error
  count    4680.000000
  mean     2225.144462
  std      3061.351967
  min         0.000026
  25%        97.580439
  50%       656.823189
  75%      3290.467940
  max     14661.133817  },
 {'In-Sample':            Actuals  Predictions  Absolute Percent Error  Absolute Error  \
  count  9361.000000  9361.000000             9343.000000     9361.000000
  mean     15.091336    15.153549                0.691086        3.781651
  std      11.969675    10.912336                2.765052        2.712116
  min      -4.300000    -0.022997                0.000035        0.000745
  25%       6.400000     5.551249                0.119353        1.578233
  50%      10.800000    12.817336                0.273036        3.323091
  75%      22.799999    24.003455                0.549159        5.452039
  max      48.700001    39.849139               92.003842       17.120713

         Squared Error
  count   9.361000e+03
  mean    2.165567e+01
  std     2.940811e+01
  min     5.553809e-07
  25%     2.490820e+00
  50%     1.104293e+01
  75%     2.972473e+01
  max     2.931188e+02  ,
  'Out-of-Sample':            Actuals  Predictions  Absolute Percent Error  Absolute Error  \
  count  4668.000000  4668.000000             4656.000000     4668.000000
  mean     17.507732     5.069921                0.772853       12.900867
  std      13.713718     6.751823                0.848816       12.050505
  min      -8.400000    -6.246351                0.001424        0.002278
  25%       7.800000     0.170342                0.460823        4.510369
  50%      13.100000     2.785401                0.648784        8.102357
  75%      26.225000     8.539367                1.003488       18.355705
  max      49.799999    23.482640               29.732803       55.193656

         Squared Error
  count    4668.000000
  mean      311.615935
  std       545.809978
  min         0.000005
  25%        20.343433
  50%        65.648202
  75%       336.931934
  max      3046.339672  },
 {'In-Sample':             Actuals   Predictions  Absolute Percent Error  Absolute Error  \
  count  14029.000000  14029.000000            13999.000000    14029.000000
  mean      15.895368     15.895111                0.954055        4.664317
  std       12.627811     10.925881                4.312231        3.423654
  min       -8.400000     -8.571325                0.000042        0.000205
  25%        6.900000      7.345233                0.139500        1.953027
  50%       11.400000     15.814656                0.263464        4.048659
  75%       23.600000     24.815517                0.610837        6.616379
  max       49.799999     37.194952              131.492160       17.997684

         Squared Error
  count   1.402900e+04
  mean    3.347643e+01
  std     4.579942e+01
  min     4.191984e-08
  25%     3.814316e+00
  50%     1.639164e+01
  75%     4.377647e+01
  max     3.239166e+02  ,
  'Out-of-Sample':            Actuals  Predictions  Absolute Percent Error  Absolute Error  \
  count  4680.000000  4680.000000             4680.000000     4680.000000
  mean     26.105534    69.768939                2.636887       44.393523
  std      14.661943    29.974035                2.571415       29.350598
  min       6.600000    13.529309                0.000011        0.000541
  25%      13.800000    44.694780                0.680831       17.746318
  50%      19.500000    65.976272                1.639583       39.747861
  75%      41.500000    94.407774                4.171272       70.177770
  max      53.200001   138.784822                9.879638      105.959154

         Squared Error
  count   4.680000e+03
  mean    2.832058e+03
  std     2.880641e+03
  min     2.930298e-07
  25%     3.149319e+02
  50%     1.579893e+03
  75%     4.924919e+03
  max     1.122734e+04  }]

## Example with Feature Engineering

In [3]:
prophet_data = pd.read_csv("https://raw.githubusercontent.com/facebook/prophet/master/examples/example_retail_sales.csv")
fframe = ff.ForecastFrame(data=prophet_data, target="y", datetime_column="ds")

In [4]:
fframe.standardize_features('y')
fframe.calc_datetime_features()
fframe.lag_features(features='y', lags=[1, 2, 3, 7, 52])
fframe.calc_statistical_features(features='y', windows=90)
fframe.calc_ewma(features='y', windows=[31])
fframe.sample

,y,day,day_of_week,weekend_flag,week,month,year,quarter,month_year,quarter_year,...,y_lag2,y_lag3,y_lag7,y_lag52,y_max_roll90_lag1,y_min_roll90_lag1,y_std_roll90_lag1,y_mean_roll90_lag1,y_median_roll90_lag1,y_ewma_roll31_lag1
ds,,,,,,,,,,,,,,,,,,,,,
1992-01-01,-1.888791,1,2,False,1,1,92,1,92M01,92Q1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-02-01,-1.880625,1,5,True,5,2,92,1,92M02,92Q1,...,NaN,NaN,NaN,NaN,-1.888791,-1.888791,NaN,-1.888791,-1.888791,NaN
1992-03-01,-1.738241,1,6,True,10,3,92,1,92M03,92Q1,...,-1.888791,NaN,NaN,NaN,-1.880625,-1.888791,0.005775,-1.884708,-1.884708,NaN
1992-04-01,-1.687907,1,2,False,14,4,92,2,92M04,92Q2,...,-1.880625,-1.888791,NaN,NaN,-1.738241,-1.888791,0.084661,-1.835886,-1.880625,NaN
1992-05-01,-1.613573,1,4,False,18,5,92,2,92M05,92Q2,...,-1.738241,-1.880625,NaN,NaN,-1.687907,-1.880625,0.099956,-1.768924,-1.738241,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-01-01,1.068216,1,4,False,1,1,16,1,16M01,16Q1,...,1.574453,1.579703,1.617689,0.765804,2.431124,1.574453,0.493091,1.861760,1.579703,1.493690
2016-02-01,1.214887,1,0,False,6,2,16,1,16M02,16Q1,...,2.431124,1.574453,1.727825,0.817718,2.431124,1.068216,0.688922,1.691264,1.574453,1.467098
2016-03-01,1.755508,1,1,False,10,3,16,1,16M03,16Q1,...,1.068216,2.431124,1.711911,0.953829,2.431124,1.068216,0.748138,1.571409,1.214887,1.451335
2016-04-01,1.649124,1,4,False,14,4,16,2,16M04,16Q2,...,1.214887,1.068216,1.416584,1.657650,1.755508,1.068216,0.361974,1.346204,1.214887,1.470346
2016-05-01,1.887100,1,6,True,19,5,16,2,16M05,16Q2,...,1.755508,1.214887,1.579703,0.535367,1.755508,1.214887,0.286400,1.539839,1.649124,1.481519

In [ ]:
fframe.predict(model="prophet", future_periods=10, weekly_seasonality=True, daily_seasonality=True)
fframe.predictions

In [ ]:
fframe.plot_components()

In [ ]:
fframe.get_predictions()

In [ ]:
fframe.get_errors()

In [ ]:
fframe.cross_validate(folds=3)

In [ ]:
fframe.get_cross_validation_errors()[-1]