# Simple Prophet Examples

In [2]:
%load_ext autoreload

%autoreload 2

In [3]:

import numpy as np
import pandas as pd
import os 
import fbprophet

# help ipython find our path
directory = os.path.dirname(os.path.dirname(os.path.abspath('')))
os.chdir(directory)

import forecastframe as ff

## Non-Hierarchical Example

In [4]:
prophet_data = pd.read_csv("https://raw.githubusercontent.com/facebook/prophet/master/examples/example_retail_sales.csv")

In [5]:
prophet_data

             ds       y
0    1992-01-01  146376
1    1992-02-01  147079
2    1992-03-01  159336
3    1992-04-01  163669
4    1992-05-01  170068
..          ...     ...
288  2016-01-01  400928
289  2016-02-01  413554
290  2016-03-01  460093
291  2016-04-01  450935
292  2016-05-01  471421

[293 rows x 2 columns]

In [6]:
fframe = ff.ForecastFrame(data=prophet_data, target="y", datetime_column="ds")

In [9]:
fframe

                 y
ds
1992-01-01  146376
1992-02-01  147079
1992-03-01  159336
1992-04-01  163669
1992-05-01  170068
...            ...
2016-01-01  400928
2016-02-01  413554
2016-03-01  460093
2016-04-01  450935
2016-05-01  471421

[293 rows x 1 columns]

In [15]:
fframe.predict(model="prophet", future_periods=10, weekly_seasonality=True, daily_seasonality=True)
fframe.get_predictions()

,y,predicted_y,trend,predicted_y_upper,predicted_y_lower
ds,,,,,
1992-01-01,146376.0,131335.258888,149250.780024,140599.402603,121799.380356
1992-02-01,147079.0,131131.825070,150289.708735,140491.562645,122222.301265
1992-03-01,159336.0,164783.266318,151261.609788,173739.039895,155522.766208
1992-04-01,163669.0,164876.320165,152300.538499,174405.435694,155210.793484
1992-05-01,170068.0,179316.575111,153305.953381,188614.334402,170259.771207
...,...,...,...,...,...
2016-05-07,NaN,474009.909550,448979.625130,483199.929555,464815.717712
2016-05-08,NaN,472531.169543,449025.071656,482264.272084,462913.298661
2016-05-09,NaN,477923.719431,449070.518182,487200.490366,468654.923270
2016-05-10,NaN,481324.802194,449115.964707,490933.080493,471820.220954
2016-05-11,NaN,482315.157151,449161.411233,491301.210984,472708.536936

In [17]:
fframe.get_errors()
# fframe.get_errors()

,Actuals,Predictions,Absolute Percent Error,Absolute Error,Squared Error
count,293.000000,293.000000,293.000000,293.000000,2.930000e+02
mean,308971.310580,308971.430803,0.019505,5671.404632,5.252161e+07
std,86084.323897,85622.285250,0.016581,4519.567783,8.274258e+07
min,146376.000000,131131.825070,0.000001,0.331767,1.100694e-01
25%,234503.000000,235586.265327,0.008071,2234.232871,4.991797e+06
50%,314051.000000,318376.545866,0.015901,4640.050641,2.153007e+07
75%,375795.000000,370050.289741,0.024941,8033.921990,6.454390e+07
max,518253.000000,507987.462463,0.108426,22100.229318,4.884201e+08

In [35]:
fframe.cross_validate(folds=3, model="prophet")

df     index         ds       y  floor         t  y_scaled
0       0 1992-01-01  146376      0  0.000000  0.540025
1       1 1992-02-01  147079      0  0.013945  0.542619
2       2 1992-03-01  159336      0  0.026991  0.587839
3       3 1992-04-01  163669      0  0.040936  0.603824
4       4 1992-05-01  170068      0  0.054431  0.627432
..    ...        ...     ...    ...       ...       ...
69     69 1997-10-01  232251      0  0.944669  0.856844
70     70 1997-11-01  228284      0  0.958614  0.842209
71     71 1997-12-01  271054      0  0.972110  1.000000
72     72 1998-01-01  207853      0  0.986055  0.766832
73     73 1998-02-01  203863      0  1.000000  0.752112

[74 rows x 6 columns]
df     index         ds       y  floor         t  y_scaled
0       0 1992-01-01  146376      0  0.000000  0.540025
1       1 1992-02-01  147079      0  0.013945  0.542619
2       2 1992-03-01  159336      0  0.026991  0.587839
3       3 1992-04-01  163669      0  0.040936  0.603824
4       4 1992-05-01  170068      0  0.054431  0.627432
..    ...        ...     ...    ...       ...       ...
69     69 1997-10-01  232251      0  0.944669  0.856844
70     70 1997-11-01  228284      0  0.958614  0.842209
71     71 1997-12-01  271054      0  0.972110  1.000000
72     72 1998-01-01  207853      0  0.986055  0.766832
73     73 1998-02-01  203863      0  1.000000  0.752112

[74 rows x 6 columns]
df     index         ds       y  floor         t  y_scaled
0       0 1992-01-01  146376      0  0.000000  0.540025
1       1 1992-02-01  147079      0  0.013945  0.542619
2       2 1992-03-01  159336      0  0.026991  0.587839
3       3 1992-04-01  163669      0  0.040936  0.603824
4       4 1992-05-01  170068      0  0.054431  0.627432
..    ...        ...     ...    ...       ...       ...
69     69 1997-10-01  232251      0  0.944669  0.856844
70     70 1997-11-01  228284      0  0.958614  0.842209
71     71 1997-12-01  271054      0  0.972110  1.000000
72     72 1998-01-01  207853      0  0.986055  0.766832
73     73 1998-02-01  203863      0  1.000000  0.752112

[74 rows x 6 columns]
df     index         ds       y  floor         t  y_scaled
0       0 1998-03-01  230313      0  1.012596  0.849694
1       1 1998-04-01  234503      0  1.026541  0.865152
2       2 1998-05-01  245027      0  1.040036  0.903979
3       3 1998-06-01  244067      0  1.053981  0.900437
4       4 1998-07-01  241431      0  1.067476  0.890712
..    ...        ...     ...    ...       ...       ...
68     68 2003-11-01  301265      0  1.944220  1.111457
69     69 2003-12-01  357577      0  1.957715  1.319209
70     70 2004-01-01  281460      0  1.971660  1.038391
71     71 2004-02-01  282444      0  1.985605  1.042021
72     72 2004-03-01  319077      0  1.998650  1.177171

[73 rows x 6 columns]
df      index         ds       y  floor         t  y_scaled
0        0 1992-01-01  146376      0  0.000000  0.409355
1        1 1992-02-01  147079      0  0.006977  0.411321
2        2 1992-03-01  159336      0  0.013504  0.445599
3        3 1992-04-01  163669      0  0.020482  0.457717
4        4 1992-05-01  170068      0  0.027234  0.475612
..     ...        ...     ...    ...       ...       ...
142    142 2003-11-01  301265      0  0.972766  0.842518
143    143 2003-12-01  357577      0  0.979518  1.000000
144    144 2004-01-01  281460      0  0.986496  0.787131
145    145 2004-02-01  282444      0  0.993473  0.789883
146    146 2004-03-01  319077      0  1.000000  0.892331

[147 rows x 6 columns]
df      index         ds       y  floor         t  y_scaled
0        0 1992-01-01  146376      0  0.000000  0.409355
1        1 1992-02-01  147079      0  0.006977  0.411321
2        2 1992-03-01  159336      0  0.013504  0.445599
3        3 1992-04-01  163669      0  0.020482  0.457717
4        4 1992-05-01  170068      0  0.027234  0.475612
..     ...        ...     ...    ...       ...       ...
142    142 2003-11-01  301265      0  0.972766  0.842518
143    143 2003-12-01  357577      0  0.979518  1.000000
144    144 2004-01-01  281460      0  0.986496  0.787131
145    145 2004-02-01  282444      0  0.993473  0.789883
146    146 2004-03-01  319077      0  1.000000  0.892331

[147 rows x 6 columns]
df      index         ds       y  floor         t  y_scaled
0        0 1992-01-01  146376      0  0.000000  0.409355
1        1 1992-02-01  147079      0  0.006977  0.411321
2        2 1992-03-01  159336      0  0.013504  0.445599
3        3 1992-04-01  163669      0  0.020482  0.457717
4        4 1992-05-01  170068      0  0.027234  0.475612
..     ...        ...     ...    ...       ...       ...
142    142 2003-11-01  301265      0  0.972766  0.842518
143    143 2003-12-01  357577      0  0.979518  1.000000
144    144 2004-01-01  281460      0  0.986496  0.787131
145    145 2004-02-01  282444      0  0.993473  0.789883
146    146 2004-03-01  319077      0  1.000000  0.892331

[147 rows x 6 columns]
df     index         ds       y  floor         t  y_scaled
0       0 2004-04-01  315191      0  1.006977  0.881463
1       1 2004-05-01  328408      0  1.013729  0.918426
2       2 2004-06-01  321044      0  1.020707  0.897832
3       3 2004-07-01  328000      0  1.027459  0.917285
4       4 2004-08-01  326317      0  1.034436  0.912578
..    ...        ...     ...    ...       ...       ...
68     68 2009-12-01  400264      0  1.472879  1.119378
69     69 2010-01-01  314640      0  1.479856  0.879922
70     70 2010-02-01  311022      0  1.486833  0.869804
71     71 2010-03-01  360819      0  1.493135  1.009067
72     72 2010-04-01  356460      0  1.500113  0.996876

[73 rows x 6 columns]
df      index         ds       y  floor         t  y_scaled
0        0 1992-01-01  146376      0  0.000000  0.343544
1        1 1992-02-01  147079      0  0.004651  0.345193
2        2 1992-03-01  159336      0  0.009002  0.373961
3        3 1992-04-01  163669      0  0.013653  0.384130
4        4 1992-05-01  170068      0  0.018155  0.399149
..     ...        ...     ...    ...       ...       ...
215    215 2009-12-01  400264      0  0.981845  0.939417
216    216 2010-01-01  314640      0  0.986497  0.738458
217    217 2010-02-01  311022      0  0.991148  0.729967
218    218 2010-03-01  360819      0  0.995349  0.846840
219    219 2010-04-01  356460      0  1.000000  0.836609

[220 rows x 6 columns]
df      index         ds       y  floor         t  y_scaled
0        0 1992-01-01  146376      0  0.000000  0.343544
1        1 1992-02-01  147079      0  0.004651  0.345193
2        2 1992-03-01  159336      0  0.009002  0.373961
3        3 1992-04-01  163669      0  0.013653  0.384130
4        4 1992-05-01  170068      0  0.018155  0.399149
..     ...        ...     ...    ...       ...       ...
215    215 2009-12-01  400264      0  0.981845  0.939417
216    216 2010-01-01  314640      0  0.986497  0.738458
217    217 2010-02-01  311022      0  0.991148  0.729967
218    218 2010-03-01  360819      0  0.995349  0.846840
219    219 2010-04-01  356460      0  1.000000  0.836609

[220 rows x 6 columns]
df      index         ds       y  floor         t  y_scaled
0        0 1992-01-01  146376      0  0.000000  0.343544
1        1 1992-02-01  147079      0  0.004651  0.345193
2        2 1992-03-01  159336      0  0.009002  0.373961
3        3 1992-04-01  163669      0  0.013653  0.384130
4        4 1992-05-01  170068      0  0.018155  0.399149
..     ...        ...     ...    ...       ...       ...
215    215 2009-12-01  400264      0  0.981845  0.939417
216    216 2010-01-01  314640      0  0.986497  0.738458
217    217 2010-02-01  311022      0  0.991148  0.729967
218    218 2010-03-01  360819      0  0.995349  0.846840
219    219 2010-04-01  356460      0  1.000000  0.836609

[220 rows x 6 columns]
df     index         ds       y  floor         t  y_scaled
0       0 2010-05-01  365713      0  1.004501  0.858326
1       1 2010-06-01  358675      0  1.009152  0.841808
2       2 2010-07-01  362027      0  1.013653  0.849675
3       3 2010-08-01  362682      0  1.018305  0.851212
4       4 2010-09-01  346069      0  1.022956  0.812222
..    ...        ...     ...    ...       ...       ...
68     68 2016-01-01  400928      0  1.315229  0.940975
69     69 2016-02-01  413554      0  1.319880  0.970609
70     70 2016-03-01  460093      0  1.324231  1.079835
71     71 2016-04-01  450935      0  1.328882  1.058342
72     72 2016-05-01  471421      0  1.333383  1.106422

[73 rows x 6 columns]
new      index         ds       y
0        0 1992-01-01  146376
1        1 1992-02-01  147079
2        2 1992-03-01  159336
3        3 1992-04-01  163669
4        4 1992-05-01  170068
..     ...        ...     ...
288    288 2016-01-01  400928
289    289 2016-02-01  413554
290    290 2016-03-01  460093
291    291 2016-04-01  450935
292    292 2016-05-01  471421

[293 rows x 3 columns]
df      index         ds       y  floor         t  y_scaled
0        0 1992-01-01  146376      0  0.000000  0.282441
1        1 1992-02-01  147079      0  0.003488  0.283798
2        2 1992-03-01  159336      0  0.006751  0.307448
3        3 1992-04-01  163669      0  0.010240  0.315809
4        4 1992-05-01  170068      0  0.013615  0.328156
..     ...        ...     ...    ...       ...       ...
288    288 2016-01-01  400928      0  0.986385  0.773614
289    289 2016-02-01  413554      0  0.989873  0.797977
290    290 2016-03-01  460093      0  0.993136  0.887777
291    291 2016-04-01  450935      0  0.996624  0.870106
292    292 2016-05-01  471421      0  1.000000  0.909635

[293 rows x 6 columns]

In [39]:
# check that the latest round of predictions stored in the object were created using the params found in cross-validation
assert fframe.model_object.seasonality_mode == fframe.cross_validations[-1]["best_params"]["seasonality_mode"]

In [40]:
fframe.get_cross_validation_errors()

[{'In-Sample':              Actuals    Predictions  Absolute Percent Error  Absolute Error  \
  count      74.000000      74.000000               74.000000       74.000000
  mean   198509.472973  198491.867873                0.050104    10083.191491
  std     26907.419353   22375.499866                0.049940    10943.462357
  min    146376.000000  155959.330002                0.000153       26.167567
  25%    176693.500000  181545.230686                0.012393     2298.031114
  50%    199172.500000  197959.748690                0.028598     5685.623925
  75%    217961.000000  214673.898390                0.074053    14046.914810
  max    271054.000000  240194.669356                0.179570    43296.390865

         Squared Error
  count   7.400000e+01
  mean    2.198117e+08
  std     4.325281e+08
  min     6.847415e+02
  25%     5.281192e+06
  50%     3.232724e+07
  75%     1.973184e+08
  max     1.874577e+09  ,
  'Out-of-Sample':              Actuals    Predictions  Absolute Percent Error  Absolute Error  \
  count      73.000000      73.000000               73.000000       73.000000
  mean   276016.273973  272533.766875                0.049378    13935.948850
  std     28141.705902   22114.991241                0.043173    13424.797087
  min    218126.000000  225889.467947                0.000094       26.371460
  25%    253905.000000  254729.428495                0.017589     4748.408498
  50%    279098.000000  274791.348894                0.038186    10831.032435
  75%    293890.000000  290014.591502                0.075675    20732.996713
  max    357577.000000  315645.971775                0.182875    58091.865723

         Squared Error
  count   7.300000e+01
  mean    3.719670e+08
  std     7.159059e+08
  min     6.954539e+02
  25%     2.254738e+07
  50%     1.173113e+08
  75%     4.298572e+08
  max     3.374665e+09  },
 {'In-Sample':              Actuals    Predictions  Absolute Percent Error  Absolute Error  \
  count     147.000000     147.000000              147.000000      147.000000
  mean   236999.244898  237002.309086                0.047994    11513.644210
  std     47587.820019   44479.089402                0.048703    12490.885925
  min    146376.000000  156251.525991                0.000168       38.761859
  25%    199172.500000  198246.189335                0.011341     2576.461035
  50%    234503.000000  237374.875048                0.026836     6401.676672
  75%    277802.500000  275076.466023                0.070991    17804.519661
  max    357577.000000  316714.264259                0.182934    56432.536598

         Squared Error
  count   1.470000e+02
  mean    2.875249e+08
  std     5.607750e+08
  min     1.502482e+03
  25%     6.638586e+06
  50%     4.098146e+07
  75%     3.170160e+08
  max     3.184631e+09  ,
  'Out-of-Sample':              Actuals    Predictions  Absolute Percent Error  Absolute Error  \
  count      73.000000      73.000000               73.000000       73.000000
  mean   350454.054795  351687.625135                0.070227    24596.856413
  std     28628.669796   22486.376740                0.056739    19802.385480
  min    293261.000000  309839.431048                0.003117     1006.358270
  25%    328568.000000  334132.998185                0.025527     8131.478140
  50%    348796.000000  351410.713761                0.055135    19196.616521
  75%    372354.000000  368733.244407                0.090014    32594.801758
  max    426077.000000  394603.234273                0.215596    75176.222427

         Squared Error
  count   7.300000e+01
  mean    9.917681e+08
  std     1.459259e+09
  min     1.012757e+06
  25%     6.612094e+07
  50%     3.685101e+08
  75%     1.062421e+09
  max     5.651464e+09  },
 {'In-Sample':              Actuals    Predictions  Absolute Percent Error  Absolute Error  \
  count     220.000000     220.000000              220.000000      220.000000
  mean   274645.613636  274641.659021                0.051162    14416.334496
  std     68162.567527   64790.545221                0.047257    14514.107540
  min    146376.000000  153817.986640                0.000220       49.640431
  25%    217961.000000  217964.348369                0.014195     3402.001562
  50%    277802.500000  277569.227309                0.034548     8998.383208
  75%    329124.250000  342503.013621                0.078495    21134.380489
  max    426077.000000  369259.674484                0.191646    80363.191249

         Squared Error
  count   2.200000e+02
  mean    4.175325e+08
  std     8.131675e+08
  min     2.464172e+03
  25%     1.157416e+07
  50%     8.097154e+07
  75%     4.466622e+08
  max     6.458243e+09  ,
  'Out-of-Sample':              Actuals    Predictions  Absolute Percent Error  Absolute Error  \
  count      73.000000      73.000000               73.000000       73.000000
  mean   412418.616438  364303.180273                0.115922    50254.139324
  std     38360.770185    7508.214156                0.067667    33280.180547
  min    335608.000000  348407.150276                0.002860     1037.306497
  25%    384600.000000  357643.810446                0.064132    24418.639168
  50%    414275.000000  364603.694887                0.114679    48264.983103
  75%    438217.000000  369328.967625                0.159236    69779.853384
  max    518253.000000  381148.353232                0.293083   151891.289292

         Squared Error
  count   7.300000e+01
  mean    3.617877e+09
  std     4.392012e+09
  min     1.076005e+06
  25%     5.962699e+08
  50%     2.329509e+09
  75%     4.869228e+09
  max     2.307096e+10  }]

In [41]:
fframe.cross_validations[0]["test"]

           ds       y    predicted_y
0  1998-03-01  230313  225889.467947
1  1998-04-01  234503  234661.483315
2  1998-05-01  245027  235414.358755
3  1998-06-01  244067  239774.172447
4  1998-07-01  241431  248628.421302
..        ...     ...            ...
68 2003-11-01  301265  305004.513365
69 2003-12-01  357577  302976.983224
70 2004-01-01  281460  303511.437231
71 2004-02-01  282444  294805.307417
72 2004-03-01  319077  297829.240455

[73 rows x 3 columns]