# Simple Prophet Examples

In [1]:
%load_ext autoreload
%autoreload 2

In [5]:

import numpy as np
import pandas as pd
import os 
import fbprophet

# help ipython find our path
directory = os.path.dirname(os.path.dirname(os.path.abspath('')))
os.chdir(directory)

import forecastframe as ff

## Non-Hierarchical Example

In [6]:
prophet_data = pd.read_csv("https://raw.githubusercontent.com/facebook/prophet/master/examples/example_retail_sales.csv")

In [7]:
prophet_data

             ds       y
0    1992-01-01  146376
1    1992-02-01  147079
2    1992-03-01  159336
3    1992-04-01  163669
4    1992-05-01  170068
..          ...     ...
288  2016-01-01  400928
289  2016-02-01  413554
290  2016-03-01  460093
291  2016-04-01  450935
292  2016-05-01  471421

[293 rows x 2 columns]

In [8]:
fframe = ff.ForecastFrame(data=prophet_data, target="y", datetime_column="ds")

In [11]:
fframe

                 y
ds
1992-01-01  146376
1992-02-01  147079
1992-03-01  159336
1992-04-01  163669
1992-05-01  170068
...            ...
2016-01-01  400928
2016-02-01  413554
2016-03-01  460093
2016-04-01  450935
2016-05-01  471421

[293 rows x 1 columns]

In [12]:
fframe.predict(model="prophet", future_periods=10, weekly_seasonality=True, daily_seasonality=True)
fframe.predictions

                    trend     yhat_upper     yhat_lower           yhat
ds
1992-01-01  149291.352945  141299.118469  121551.382073  131088.226795
1992-02-01  150340.205130  140132.413493  121163.208815  130902.627119
1992-03-01  151321.389431  174112.831539  155307.584227  164541.413924
1992-04-01  152370.241616  172955.470247  154846.949609  164637.373016
1992-05-01  153385.259859  188506.342790  169648.708067  179055.605125
...                   ...            ...            ...            ...
2016-05-07  449843.564818  483820.518296  464462.333377  474358.711349
2016-05-08  449889.809161  482050.349037  463198.127794  472843.441782
2016-05-09  449936.053503  486853.954599  469103.393952  478195.558355
2016-05-10  449982.297845  491166.385050  472314.921172  481672.324827
2016-05-11  450028.542188  492729.517483  473569.258038  482719.502388

[303 rows x 4 columns]